extends base

block content 
    if errorMsg 
        span=errorMsg
    form(method="POST") 
        input(type="email", name="email", placeholder="Email", title="Please write your email", required)
        input(type="password", name="password", placeholder="Password", title="Please write password", required)
        input(type="submit", value="Login")